@import "tailwindcss";

html {
  --line-color: #e5e7eb;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  /* background: linear-gradient(to bottom, #fbe2e3, #dbd7fb, #fff) no-repeat top; */
}
